.todo {
    display: grid;
}

.todo__head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.todo__alert p{
    margin: 0;
    padding: 10px 20px;
}

.todo__alert-success {
    background-color: #d1e7dd;
}

.todo__alert-success {
    color: #0f5132;
}

.todo__alert-danger {
    background-color: #f8d7da;
}

.todo__alert-danger p{
    color: #842029;
}

.todo__form {
    margin-top:100px;
    width: 100%;
}

.todo__form form {
    display: flex;
    gap: 20px;
    align-items: center;
}

.form {
    width: 800px;
    margin: 0 auto;
}

.form__input {
    width: 450px;
    height: 40px;
    border: 1px solid #ccc;
}

.category__input {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    flex: 1;
}

.category__text {
    text-align: center;
}

.form__create-btn {
    background-color: #000;
    color: #fff;
    padding: 8px 60px;
    font-size: 16px;
    border-radius: 5%;
}

.search__form form{
    display: flex;
    gap: 20px;
    align-items: center;
}

.todo {
    margin-top :50px;
}

.todo__text {
    margin-bottom:10px;
    margin-left: 20px;
}

.todo__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.todo__box:first-child {
    border-top: 1px solid #ccc;
}

.todo__name {
    margin-left: 20px;
}

.todo__actions {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-right: 20px;
}

.delete {
    flex-shrink: 0;
    display: flex;
}

.update {
    margin-left: auto;
}

.update__form {
    align-items: center;
}

.category__name {
    text-align: center;
}

.content__form {
    border: none;
}

.btn {
    display: flex;
    gap: 20px;
}

.update__btn {
    background-color: #0000ff;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size:16px;
    border-radius: 10%;
    cursor: pointer;
}

.delete form {
    display: flex;
    align-items: center;
}

.delete__btn {
    margin-right: 20px;
    background-color: #ff0000;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10%;
    cursor: pointer;
}

.category__input{
    height: 40px;
    border: 1px solid #ccc;
    padding: 5px;
    appearance: none;
}